{% extends "tony_blogs/base.html" %}

{% block page_header %}
<style>
  body {
    background-color: rebeccapurple;
  }
</style>
<h1>Blogs</h1>
{% if user.is_authenticated %}
  <h3><a class="btn btn-sm btn-primary" href="{% url 'tony_blogs:new_blog' %}" role="button">Add a new blog &raquo;</a>
  </h3>
{% endif %}
{% endblock page_header %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-9 mt-3 left">
      {% for blog in blogs reversed %}
      <div class="card text-white bg-dark mb-3">
        <div class="card-body">
          <h2 class="card-title">{{ blog.title }}</h2>
          <p class="card-text text-muted h6">{{ blog.owner }}|{{ blog.date_created }}</p>
          <p class="card-text">{{ blog.content|slice:":200" }}</p>
          <a href="{% url 'tony_blogs:blog' blog.id %}" class="btn btn-light btn-sm active" role="button" aria-pressed="true">Read More &raquo;</a>
        </div>
      </div>
      {% empty %}
    </div>
    <li>
      <h3>No blogs have been added yet.</h3>
    </li>
    {% endfor %}
  </div>
  {% block sidebar %}
  <style>
    .card {
      box-shadow: 10px 10px #ebe3e3;
    }
  </style>

  <!-- Sidebar Widgets Column -->
  <div class="col-md-3 float-right ">
    <div class="card text-white bg-secondary my-4">
      <h5 class="card-header">About Us</h5>
      <div class="card-body">
        <p class="card-text"> Hey, check out my other repositories.</p>
        <a href="https://github.com/Tony-Otis" class="btn btn-info btn-sm">Know more!</a>
      </div>
    </div>
  </div>
  {% endblock sidebar %}

{% endblock content %}