{% extends 'tony_blogs/base.html' %}

{% block page_header %}
  <h3>{{ Blog }}</h3>
{% endblock page_header %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ blog.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{blog.owner }} | {{ blog.date_created }}</p>
        <p class="card-text ">{{ blog.content | safe }}</p>
        {% if user.is_authenticated %}
        <a href="{% url 'tony_blogs:update' blog.id %}" class="btn-sm btn-success">Update</a>
        <a href="{% url 'tony_blogs:delete' blog.id %}" class="btn-sm btn-danger">Delete &raquo;</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<form method="POST">
  {% csrf_token %}
    {{comment_form.as_p}}
    <input type="submit" name="comment" class="btn btn-warning">
  
</form>    

<div class="main-comment-section">
  {{comments.count}} Comment{{comments|pluralize}}
</div>

{% for comment in comments %}
  <blockquote class="blockquote">
    <p>{{ comment.content}}</p>
    <footer class="blockquote-footer">
      By <cite>{{comment.user|capfirst}}

        {% ifequal  object.author.id user.id%}
        <a href="{% url 'tony_blogs' comment.id %}" style="color: #585858;"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
        {% endifequal %}
        {% ifequal comment.user.id user.id%}
            {% ifequal comment.user.id object.author.id%}
            {% else %}
            <a href="{% url 'tony_blogs' comment.id %}" style="color: #585858;"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            {% endifequal %}
        {% endifequal %}
        </cite> 
    </footer>
  </blockquote>
{% endfor %}

{% endblock content %}