{% extends 'tony_blogs/base.html' %}
{% load crispy_forms_tags %}

{% block page_header %}
  <h3>{{ Blog }}</h3>
{% endblock page_header %}

{% block content %}
  <style>
    .silver-background{
      background-color: rgba(45, 45, 45, 0.1);
    }
    .card {
      margin: 0 auto; /* Added */
      float: none; /* Added */
      margin-bottom: 10px; /* Added */
  }
  p{
    text-align: justify;
  }
  </style>

  <div class="container">
    <div class="row">
      <div class="col-auto card mb-4  mt-3 left  top silver-background">
        <div class="card-body">
          <h1>{% block title %} {{ blog.title }} {% endblock title %}</h1>
          <hr>
          <p class=" text-muted">{{blog.owner }} | {{ blog.date_created }}</p>
          <p class="card-text ">{{ blog.content | safe }}</p>
          {% if user.is_authenticated %}
            <a href="{% url 'tony_blogs:update' blog.id %}" class="btn-sm btn-success">Update</a>
            <a href="{% url 'tony_blogs:delete' blog.id %}" class="btn-sm btn-danger">Delete &raquo;</a>
          {% endif %}
          <br/><br/>
         
        </div>
      </div>
    </div>
  </div>
{% endblock content %}